<header class="site-head">
    <h1 class="h2 mb-4 title">Youtube Downloader By Anil Bhatia</h1>
    <p>Download youtube video in Many format</p>
</header>

<div class="container content-wrap">

    <div class="row justify-content-center align-items-start">

        <div class="col">

            <form class="down-form" name="youtube-download" method="post" action='/video'>
                <input type="url" name="url" placeholder="Paste the url " required class="form-control form-control-lg"/>
                <button type="submit" class="btn btn-success mt-3">Downlaod</button>
            </form>


            <div>
                <h5>Search Url First Then Select size , you will redirect into video screen  After that on bottom right
                    Click you see option in three virtical dots click and choose download
                </h5>
            </div>

        </div>
    </div>
</div>
